/* mulish-200 - latin */
@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/mulish/mulish-v18-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-200italic - latin */
@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: italic;
  font-weight: 200;
  src: url("../fonts/mulish/mulish-v18-latin-200italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/mulish/mulish-v18-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-300italic - latin */
@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/mulish/mulish-v18-latin-300italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/mulish/mulish-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-italic - latin */
@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/mulish/mulish-v18-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/mulish/mulish-v18-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-500italic - latin */
@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/mulish/mulish-v18-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/mulish/mulish-v18-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-600italic - latin */
@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/mulish/mulish-v18-latin-600italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/mulish/mulish-v18-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-700italic - latin */
@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/mulish/mulish-v18-latin-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-800 - latin */
@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/mulish/mulish-v18-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-800italic - latin */
@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/mulish/mulish-v18-latin-800italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-900 - latin */
@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/mulish/mulish-v18-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-900italic - latin */
@font-face {
  font-display: swap;
  font-family: "Mulish";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/mulish/mulish-v18-latin-900italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
body {
  background: #F6F9FC;
  font-family: Montserrat, sans-serif;
}

.about-hero {
  position: relative;
  background: url(../images/banner/1.jpg) center/cover;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 400px;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(120deg, rgba(7, 60, 115, 0.65), rgba(10, 93, 170, 0.01));
}

.hero-badge {
  display: inline-block;
  background: #FF8A1F;
  padding: 10px 25px;
  border-radius: 40px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
}

.about-hero span {
  color: #ff8a24;
}

.section-title {
  color: #ff8a24;
  font-weight: 700;
  letter-spacing: 2px;
}

.about-image {
  overflow: hidden;
  border-radius: 25px;
}

.about-image img {
  transition: 0.7s;
}

.about-image:hover img {
  transform: scale(1.08);
}

.counter-card {
  padding: 20px;
  background: #ffffff;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
  transition: 0.4s;
}

.counter-card:hover {
  transform: translateY(-10px);
  background: #2e80ad;
  color: white;
}

.mission-section {
  background: #eef6ff;
}

.mission-card {
  background: white;
  padding: 25px;
  border-radius: 25px;
  transition: 0.5s;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
}

.mission-card:hover {
  background: #2e80ad;
  color: white;
  transform: translateY(-12px);
}

.icon-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #ff8a24;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: white;
  margin-bottom: 0px;
}

.ceo-image {
  text-align: center;
}

.ceo-image img {
  width: 320px;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 8px solid white;
  transition: 0.6s;
}

.ceo-image img:hover {
  transform: rotate(-5deg) scale(1.06);
}

.ceo-note {
  background: white;
  padding: 50px;
  border-left: 6px solid #ff8a24;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.08);
  transition: 0.5s;
}

.ceo-note:hover {
  transform: translateY(-10px);
}

.department-card {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  transition: 0.4s;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.department-card i {
  font-size: 50px;
  color: #ff8a24;
  margin-bottom: 20px;
  display: block;
}

.department-card:hover {
  background: #2e80ad;
  color: white;
  transform: translateY(-10px);
}

.department-card:hover i {
  color: white;
}

.team-section {
  background: #f8f9fb;
}

.section-tag {
  background: #eef5ff;
  color: #2e80ad;
  padding: 0.45rem 1rem;
  border-radius: 50px;
  font-weight: 600;
  font-size: 14px;
}

.team-card {
  position: relative;
  background: #fff;
  border-radius: 24px;
  padding: 70px 30px 30px;
  text-align: center;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.06);
  transition: 0.45s;
  border: 1px solid #ececec;
  overflow: hidden;
}

.team-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background: linear-gradient(90deg, #084d8c, #2e80ad);
}

.team-card:hover {
  transform: translateY(-12px);
  box-shadow: 0 25px 55px rgba(13, 110, 253, 0.18);
}

.team-image {
  position: absolute;
  left: 50%;
  top: -5px;
  transform: translateX(-50%);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  padding: 5px;
  background: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  transition: 0.4s;
}

.team-card:hover .team-image {
  transform: translateX(-50%) scale(1.08);
}

.team-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team-content h4 {
  margin-top: 20px;
  margin-bottom: 6px;
  font-weight: 700;
}

.designation {
  display: inline-block;
  color: #2e80ad;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 18px;
}

.team-content p {
  color: #777;
  line-height: 1.7;
  min-height: 75px;
}

.team-social {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}

.team-social a {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: #f3f7ff;
  color: #2e80ad;
  transition: 0.35s;
}

.team-social a:hover {
  background: #2e80ad;
  color: #fff;
  transform: translateY(-5px);
}/*# sourceMappingURL=aboutus.css.map */